<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!-- xss过滤器 -->
    <filter>
        <filter-name>XssSqlFilter</filter-name>
        <filter-class>com.mywechat.config.XssFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>XssSqlFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>com.mywechat.controller.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/VerifyCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mywechat.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.mywechat.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ModifyServlet</servlet-name>
        <servlet-class>com.mywechat.controller.ModifyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModifyServlet</servlet-name>
        <url-pattern>/ModifyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PhotoServlet</servlet-name>
        <servlet-class>com.mywechat.controller.PhotoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PhotoServlet</servlet-name>
        <url-pattern>/PhotoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CircleFriendServlet</servlet-name>
        <servlet-class>com.mywechat.controller.CircleFriendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CircleFriendServlet</servlet-name>
        <url-pattern>/CircleFriendServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddressBookServlet</servlet-name>
        <servlet-class>com.mywechat.controller.AddressBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddressBookServlet</servlet-name>
        <url-pattern>/AddressBookServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>com.mywechat.controller.ChatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/ChatServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GroupServlet</servlet-name>
        <servlet-class>com.mywechat.controller.GroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GroupServlet</servlet-name>
        <url-pattern>/GroupServlet</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.mywechat.util.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/jsp/*</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>